#container {
	width: 15em;
	border: .25em solid silver;
	padding: .5em;
	margin-left: 1em;
}
input {
	display: block;
	margin-bottom: .5em;
}
select {
	margin-bottom: .5em;
}
label {
	display: block;
}