* {
	margin: 0em;
	padding: 0em;
}
h3 {
	margin-top: .5em;
	margin-left: .5em;
}
#registration, #sign_in {
	width: 14em;
	border: .15em solid silver;
	padding: .5em;
	display: inline-block;
	margin: 2em;
	vertical-align: top;
}
input {
	margin-top: .10em;
	margin-bottom: .10em;
}